<!DOCTYPE html>
<html>
<head>
    <title>My Toolbox</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
</head>
<body>
    <h1>Welcome to My Toolbox</h1>
    <ul>
        <li><a href="/tool1">Tool 1: Placeholder Tool</a></li>
        <li><a href="/tool2">Tool 2: Placeholder Tool</a></li>
        <li><a href="/sailarea">ORC Mainsail Area Calculator</a></li>
        <li><a href="/spinnaker">ORC Spinnaker/Gennaker Area Calculator</a></li>


    </ul>
</body>
</html>
